
<footer class="footer-area footer-fixed wow fadeIn" data-wow-duration="2s">
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Copyright Area -->
                    <div class="copyright-area d-flex justify-content-between justify-content-sm-between align-items-center text-center pb-0 pt-0">
                        <a class="navbar-brand bottom" href="javascript:void(0)">
                            <img class="logo" src="assets/img/logo-white-footer.png" alt="">
                        </a>    
                        <!-- Copyright Left -->
                        <div>
                            <div class="social-icons d-flex">
                                <a href="#" target="_blank" class="d-none">
                                    <img src="assets/svgs/youtube.svg" alt="youtube" >
                                 </a>
                                 <a href="http://www.instagram.com/cryptofully" target="_blank">
                                    <img src="assets/svgs/instagram.svg" alt="instagram cryptofully" >
                                 </a>
                                 <a href="https://www.facebook.com/Cryptofully" target="_blank">
                                    <img src="assets/svgs/facebook.svg" alt="facebook Cryptofully" >
                                 </a>
                                 <a href="http://twitter.com/cryptofully" target="_blank">
                                    <img src="assets/svgs/twitter.svg" alt="twitter cryptofully" >
                                 </a>
                            </div>
                        </div>
                        <!-- Copyright Right -->
                        <div class="copyrights">&copy; Copyrights {{ ourDate.getFullYear()}}
                            <span>
                                Cryptofully
                            </span> All rights reserved.
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>