<section id="features" class="section features-area style-two overflow-hidden ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-7">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>How Cryptofully works?</h2>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 col-md-12 col-lg-4 res-margin">
                <!-- Image Box -->
                <div class="text-center icon-1 p-2 wow fadeInLeft" data-wow-delay="0.4s">
                    <!-- Featured Image -->
                    <div class="featured-img mb-3">
                        <img class="avatar-sm" src="assets/svgs/calculator.svg" alt="">
                    </div>
                    <!-- Icon Text -->
                    <div class="icon-text">
                        <h3 class="mb-2">Calculate how much to send</h3>
                        <p>Using our real-time exchange rate, get the bitcoin equivalent for how much money you want to send.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 res-margin">
                <!-- Image Box -->
                <div class="text-center icon-1 p-2 wow fadeInUp" data-wow-delay="0.2s">
                    <!-- Featured Image -->
                    <div class="featured-img mb-3">
                        <img class="avatar-sm" src="assets/svgs/wallet.svg" alt="">
                    </div>
                    <!-- Icon Text -->
                    <div class="icon-text">
                        <h3 class="mb-2">Get wallet address</h3>
                        <p>Cryptofully provides a unique bitcoin wallet address for your Nigerian bank account.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <!-- Image Box -->
                <div class="text-center icon-1 p-2 wow fadeInRight" data-wow-delay="0.4s">
                    <!-- Featured Image -->
                    <div class="featured-img mb-3">
                        <img class="avatar-sm" src="assets/svgs/money.svg" alt="">
                    </div>
                    <!-- Icon Text -->
                    <div class="icon-text">
                        <h3 class="mb-2">Send money</h3>
                        <p>Transfer bitcoin to the unique wallet address and the recipient will receive the naira value instantly.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>