@font-face {
	font-family: "Nordique Pro Bold";
	src: url("../../../../assets/webfonts/NordiquePro-Bold.otf") format("opentype");
}

@font-face {
	font-family: "Nordique Pro SemiBold";
	src: url("../../../../assets/webfonts/NordiquePro-Semibold.otf") format("opentype");
}

.feature-area h2 {
	font-family: "Nordique Pro";
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 31px;
	/* identical to box height */

	/* Dark Gray */

	color: #282828;
}

.section-heading h2::after {
	display: none;
}
.section-heading h2 {
	font-family: "Nordique Pro Bold";
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 31px;
	color: #171f51;
}
.section-heading h3 {
	font-family: "Avenir Next";
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 31px;
}

.sub-header{
	margin-bottom: 44px;
}

.sub-header h2 {
	font-family: "Avenir Next";
	font-size: 24px;
	line-height: 31px;
}
.sub-header p {
	font-family: "Avenir Next";
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 120%;
	color: #4F4F4F;
}

.icon-text h3 {
	font-family: "Avenir Next";
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 20px;
	/* identical to box height */

	/* Royal Blue */

	color: #171f51;
}

.icon-text p {
	font-family: "Avenir Next";
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 150%;
	/* or 27px */

	text-align: center;

	/* Light Gray */

	color: #4f4f4f;
}

:host .avatar-sm {
	height: 96px;
	width: 96px;
}

@media (max-width: 991.98px) {
	.howto {
		padding-left: 9rem !important;
		padding-right: 9rem !important;
	}
}

@media (max-width: 575.98px) {
	.section-heading h2 {
	margin-bottom: 20px;
	}
	.howto {
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}

	.icon-1{
		margin-bottom: 50px;
	}
}
