@import "../../../variables.scss";

.breadcrumb {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #171f51;
  margin-bottom: 20px;
  margin-top: 63px;
}

.breadcrumb span {
  font-family: Avenir Next;

  /* Light Gray */

  color: #4f4f4f;
}

.search-area {
  position: absolute;
  top: -6vh;
}

.form-group {
  position: relative;
  width: 855px;
  margin-bottom: 0;
}

.search input {
  box-shadow: 0px 12px 12px rgba(50, 50, 71, 0.08),
    0px 16px 24px rgba(50, 50, 71, 0.08);
  border-radius: 10px;
  height: 80px;
  padding-left: 4rem;
}

.fa-search {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 18px;
  color: #4f4f4f;
}

.card {
  background: #ffffff;
  box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08),
    0px 8px 16px rgba(50, 50, 71, 0.06);
  border-radius: 5px;
  transition: all 700ms;
  margin-bottom: 61px;
}

.card-body {
  padding: 61px 45px;
}

.card-body p {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 500;
  font-size: 14px !important;
  line-height: 25px;
}

p {
  font-size: 14px !important;
}

.icon-wrapper {
  width: 110px;
}

.card-title {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #f5b400;
}

.pointer {
  cursor: pointer;
}

.card:hover {
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08),
    0px 4px 8px rgba(50, 50, 71, 0.06);
}

::ng-deep.dark {
  .main {
    background: $bg-color-dark;
  }

  .innerPage .banner {
    background: $bg-color-dark-2;
  }

  .breadcrumb,
  .breadcrumb span {
    color: #fff;
  }
  .card {
    background: $bg-color-dark-2;
    color: #fff;
  }
  p {
    color: #fff;
  }
}
