@font-face {
  font-family: "Road Rage";
  src: url("../../../assets/webfonts/road_rage/Road_Rage.otf")
    format("opentype");
}
@font-face {
  font-family: "Impact";
  src: url("../../../assets/webfonts/impact/Impacted.ttf") format("truetype");
}

#statusPage {
  background: url("../../../assets/svgs/endsars/bg.svg") no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  /* background: #f8f8f8;
  min-height: 700px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30rem 5rem;
}
#statusPage .status {
  position: relative;
  margin: auto;

  background: #ffffff;
  /* 8 dp */

  box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08),
    0px 8px 16px rgba(50, 50, 71, 0.06);
  border-radius: 10px;
}

.kyc_wrapper {
  padding: 2rem 3rem;
}

.kyc_wrapper .title {
  margin-bottom: 22px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #27ae60;
}

.top .icon {
}

.left {
  margin: 10rem 0;
}

.left .title {
  font-family: "Impact";
  font-style: normal;
  font-weight: 900;
  font-size: 84.2945px;
  line-height: 100%;
  color: #ffffff;
  text-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08),
    0px 8px 16px rgba(50, 50, 71, 0.06);
}

.left .subtitle {
  font-family: "Road Rage";
  font-style: normal;
  font-weight: normal;
  font-size: 84.2945px;
  line-height: 120%;
  color: #ff0000;
  text-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08),
    0px 8px 16px rgba(50, 50, 71, 0.06);
}

.card-title {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  text-transform: capitalize;
  color: #171f51;

  margin-bottom: 36px;
}
.text-secondary {
  color: #f5b400;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
}

@media (max-width: 991.98px) {
  #statusPage {
    min-height: 700px;
    padding: 0 1rem;
  }
  #statusPage .main {
    height: 100%;
    margin: 10rem 5rem 5rem;
    width: 100%;
  }
  .left .wrapper {
    padding: 24px;
  }

  .btn {
    width: 70% !important;
    font-size: 15px;
    z-index: 1;
    margin: auto;
    display: inline;
    text-align: center;
  }
}

@media (max-width: 575.98px) {
  #statusPage .main {
    margin: 10rem 0rem 5rem;
  }

  .top {
    padding: 2rem 1rem;
  }

  .trans-detail p {
    font-size: 14px;
    line-height: 14px;
  }
  .trans-detail p span {
    font-size: 14px;
    line-height: 14px;
  }
}
