<app-header-custom2></app-header-custom2>
<div class="endsars">
  <img src="assets/svgs/endsars/endsars.svg" alt="" class="img-fluid" />
</div>
<div id="statusPage" class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7 col-md-6 left">
        <h2 class="title">Enough of Police Brutality in Nigeria</h2>
        <h3 class="subtitle">#SARSMUSTEND</h3>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12 status right">
        <div class="kyc_wrapper">
          <h2 class="card-title">
            Get Free Airtime to Support the protest online
          </h2>
          <form
            id="contact-form"
            [formGroup]="cryptoForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="row">
              <div class="col-12">
                <app-input
                  label="Email Address"
                  name="Email Address"
                  [control]="cryptoForm.get('email')"
                  placeholder="eg. support@cryptofully.com"
                  type="email"
                ></app-input>

                <app-input
                  label="Phone Number"
                  name="Phone Number"
                  [control]="cryptoForm.get('phoneNumber')"
                  placeholder="eg. +2349084372493"
                  maxlength="14"
                ></app-input>

                <!--  <app-input
                  label="Twitter Handle"
                  name="Twitter Handle"
                  [control]="cryptoForm.get('twitter')"
                  placeholder="eg. @cryptofully"
                  [required]="false"
                ></app-input> -->
              </div>
            </div>

            <div class="col-12">
              <button
                class="btn btn-bordered w-100 mt-3 mt-sm-4 submit btn-transaction"
                type="submit"
                [disabled]="cryptoForm.invalid"
              >
                <app-loader [isLoading]="formloader"></app-loader>
                <ng-container *ngIf="!formloader"> Get Airtime </ng-container>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-scrollup></app-scrollup>
<app-footer-sars></app-footer-sars>
