@font-face {
  font-family: "Road Rage";
  src: url("../../../assets/webfonts/road_rage/Road_Rage.otf")
    format("opentype");
}
@font-face {
  font-family: "Impact";
  src: url("../../../assets/webfonts/impact/Impacted.ttf") format("truetype");
}

.endsars {
  position: absolute;
  top: 21%;
}
#statusPage {
  background: url("../../../assets/svgs/endsars/bg.svg") no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  /* background: #f8f8f8;
  min-height: 700px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30rem 5rem;
}
#statusPage .status {
  position: relative;
  margin: auto;

  background: #ffffff;
  /* 8 dp */

  box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08),
    0px 8px 16px rgba(50, 50, 71, 0.06);
  border-radius: 10px;
}

.kyc_wrapper {
  padding: 3rem 3rem 5rem;
}

.kyc_wrapper .title {
  margin-bottom: 22px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #27ae60;
}

.top .icon {
}

.left {
  margin: 10rem 0;
}

.left .title {
  font-family: "Impact";
  font-style: normal;
  font-weight: 900;
  font-size: 84.2945px;
  line-height: 100%;
  color: #ffffff;
  text-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08),
    0px 8px 16px rgba(50, 50, 71, 0.06);
}

.left .subtitle {
  font-family: "Road Rage";
  font-style: normal;
  font-weight: normal;
  font-size: 84.2945px;
  line-height: 120%;
  color: #ff0000;
  text-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08),
    0px 8px 16px rgba(50, 50, 71, 0.06);
}

.card-title {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  text-transform: capitalize;
  color: #171f51;

  margin-bottom: 36px;
}
.text-secondary {
  color: #f5b400;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
}

@media (max-width: 1024px) {
  #statusPage {
    height: auto;
    padding: 15rem 3rem;
  }
  .left .title {
    font-size: 64.2945px;
  }

  .left .subtitle {
    font-size: 64.2945px;
    line-height: 120%;
  }
}

@media (max-width: 575.98px) {
  .endsars {
    position: absolute;
    top: 10%;
  }
  #statusPage.main {
    padding: 0rem 1rem 1rem;
  }

  .left {
    margin: 10rem 0 6rem;
  }

  .left .title {
    font-size: 36.2945px;
  }

  .left .subtitle {
    font-size: 36.2945px;
    line-height: 120%;
  }

  .kyc_wrapper {
    padding: 2rem 0rem 3rem;
  }

  .card-title {
    font-size: 23px;
  }
}
