<div class="height-emulator d-none d-lg-block"></div>
<footer class="footer-area footer-fixed wow fadeIn" data-wow-duration="2s">
  <!--     <a href="#" class="chat">
        <img src="assets/svgs/chat.svg" alt="chat" class="img-fluid">
    </a> -->
  <!-- Footer Top -->
  <hr class="top d-lg-none" />
  <div class="footer-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-12 col-sm-6 col-lg-3">
          <!-- Footer Items -->
          <div class="footer-items">
            <!-- Logo -->
            <a class="navbar-brand top d-lg-block d-sm-none" href="#">
              <img
                class="logo"
                src="assets/img/logo-white-footer.png"
                alt="cryptofully"
                *ngIf="!mode"
              />
              <img
                class="logo"
                src="assets/svgs/footer-logo-dark.svg"
                alt="cryptofully"
                *ngIf="mode"
              />
            </a>
            <div class="contact">
              <p>hello@cryptofully.com</p>
              <p>+234 802 234 432</p>
              <p>(Monday - Friday from 10am - 6pm)</p>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4 col-sm-6 col-lg-3 offset-lg-1">
          <!-- Footer Items -->
          <div class="footer-items">
            <!-- Footer Title -->
            <h3 class="footer-title mb-2">Quick Links</h3>
            <ul>
              <li class="pt-2"><a [routerLink]="['/aboutus']">About Us</a></li>
              <li class="pt-2">
                <a [routerLink]="['/privacy']">Privacy Policy</a>
              </li>
              <li class="pt-2">
                <a [routerLink]="['/terms']">Terms of Service</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-6 col-md-4 col-sm-6 col-lg-3">
          <!-- Footer Items -->
          <div class="footer-items">
            <!-- Footer Title -->
            <h3 class="footer-title mb-2">Support</h3>
            <ul>
              <li class="pt-2"><a [routerLink]="['/help']">Help Center</a></li>
              <li class="pt-2">
                <a class="scroll" [routerLink]="['/#home']">Sending Money</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid top-social-icon">
    <div class="row">
      <div class="col-12 col-md-12 col-sm-6 col-lg-3">
        <!-- Footer Items -->
        <div class="footer-items">
          <div class="social-icons d-flex">
            <a
              href="https://www.youtube.com/channel/UCjguVYE0T_dsYMLICR60Spw"
              target="_blank"
            >
              <img src="assets/svgs/youtube.svg" alt="youtube" *ngIf="!mode" />
              <img
                src="assets/svgs/youtube_dark.svg"
                alt="youtube"
                *ngIf="mode"
              />
            </a>
            <a href="http://www.instagram.com/cryptofully" target="_blank">
              <img
                src="assets/svgs/instagram.svg"
                alt="instagram cryptofully"
                *ngIf="!mode"
              />
              <img
                src="assets/svgs/instagram_dark.svg"
                alt="instagram cryptofully"
                *ngIf="mode"
              />
            </a>
            <a href="https://t.me/cryptofully" target="_blank">
              <img
                src="assets/svgs/telegram.svg"
                alt="telegram Cryptofully"
                *ngIf="!mode"
              />
              <img
                src="assets/svgs/telegram_dark.svg"
                alt="telegram Cryptofully"
                *ngIf="mode"
              />
            </a>
            <a
              href="https://www.facebook.com/Cryptofully"
              target="_blank"
              class="d-none"
            >
              <img src="assets/svgs/facebook.svg" alt="facebook Cryptofully" />
            </a>
            <a href="http://twitter.com/cryptofully" target="_blank">
              <img
                src="assets/svgs/twitter.svg"
                alt="twitter cryptofully"
                *ngIf="!mode"
              />
              <img
                src="assets/svgs/twitter_dark.svg"
                alt="twitter cryptofully"
                *ngIf="mode"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile_links">
    <ngb-accordion [closeOthers]="true" activeIds="products">
      <ngb-panel id="products" title="Links">
        <ng-template ngbPanelContent>
          <ul>
            <li class="pt-2"><a [routerLink]="['/aboutus']">About Us</a></li>
          </ul>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="others">
        <ng-template ngbPanelTitle> Others </ng-template>
        <ng-template ngbPanelContent>
          <ul>
            <li class="pt-2">
              <a [routerLink]="['/privacy']">Privacy Policy</a>
            </li>
            <li class="pt-2">
              <a [routerLink]="['/terms']">Terms of Service</a>
            </li>
          </ul>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-3" title="Support">
        <ng-template ngbPanelContent>
          <ul>
            <li class="pt-2"><a [routerLink]="['/help']">Help Center</a></li>
            <li class="pt-2">
              <a class="scroll" [routerLink]="['/#home']">Sending Money</a>
            </li>
          </ul>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <hr class="bottom" />
  <!-- Footer Bottom -->
  <div class="footer-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- Copyright Area -->
          <div
            class="copyright-area d-flex flex-wrap justify-content-center justify-content-sm-between text-center pb-4 pt-0"
          >
            <a class="navbar-brand bottom" href="#">
              <img
                class="logo"
                src="assets/img/logo-white-footer.png"
                alt=""
                loading="lazy"
                *ngIf="!mode"
              />
              <img
                class="logo"
                src="assets/svgs/footer-logo-dark.svg"
                alt="cryptofully"
                *ngIf="mode"
              />
            </a>
            <!-- Copyright Left -->
            <div class="copyright-left">
              &copy; Copyright {{ ourDate.getFullYear() }}
              <span> Cryptofully </span> All rights reserved.
            </div>
            <!-- Copyright Right -->
            <div class="copyright-right">
              <div class="social-icons d-flex">
                <a
                  href="https://www.youtube.com/channel/UCjguVYE0T_dsYMLICR60Spw"
                  target="_blank"
                >
                  <img
                    src="assets/svgs/youtube.svg"
                    alt="youtube"
                    loading="lazy"
                    *ngIf="!mode"
                  />
                  <img
                    src="assets/svgs/youtube_dark.svg"
                    alt="youtube"
                    loading="lazy"
                    *ngIf="mode"
                  />
                </a>
                <a href="http://www.instagram.com/cryptofully" target="_blank">
                  <img
                    src="assets/svgs/instagram.svg"
                    alt="instagram cryptofully"
                    loading="lazy"
                    *ngIf="!mode"
                  />
                  <img
                    src="assets/svgs/instagram_dark.svg"
                    alt="instagram cryptofully"
                    loading="lazy"
                    *ngIf="mode"
                  />
                </a>
                <a href="https://t.me/cryptofully" target="_blank">
                  <img
                    src="assets/svgs/telegram.svg"
                    alt="telegram Cryptofully"
                    loading="lazy"
                    *ngIf="!mode"
                  />
                  <img
                    src="assets/svgs/telegram_dark.svg"
                    alt="telegram Cryptofully"
                    loading="lazy"
                    *ngIf="mode"
                  />
                </a>
                <a
                  href="https://www.facebook.com/Cryptofully"
                  target="_blank"
                  class="d-none"
                >
                  <img
                    src="assets/svgs/facebook.svg"
                    alt="facebook Cryptofully"
                    loading="lazy"
                  />
                </a>
                <a href="http://twitter.com/cryptofully" target="_blank">
                  <img
                    src="assets/svgs/twitter.svg"
                    alt="twitter cryptofully"
                    loading="lazy"
                    *ngIf="!mode"
                  />
                  <img
                    src="assets/svgs/twitter_dark.svg"
                    alt="twitter cryptofully"
                    loading="lazy"
                    *ngIf="mode"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
