:host {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
  transition: all 700ms;
}

.modal-md {
  width: 600px;
  margin: 5rem auto;
}

.card-title {
  font-family: "Nordique Pro SemiBold";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.02em;

  /* Royal Blue */

  color: #171f51;
}
