<footer class="footer-area footer-fixed wow fadeIn" data-wow-duration="2s">
  <!-- Footer Bottom -->
  <div class="footer-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- Copyright Area -->
          <div
            class="copyright-area d-flex justify-content-between justify-content-sm-between align-items-center text-center pb-0 pt-0"
          >
            <!-- Copyright Left -->
            <div class="copyrights">
              &copy; Copyrights {{ ourDate.getFullYear() }}
              <span> Cryptofully </span> All rights reserved.
            </div>

            <!-- Copyright Right -->
            <div>
              <div class="social-icons d-flex">
                <a
                  href="https://www.youtube.com/channel/UCjguVYE0T_dsYMLICR60Spw"
                  target="_blank"
                >
                  <img
                    src="assets/svgs/youtube.svg"
                    alt="youtube"
                    loading="lazy"
                  />
                </a>

                <a href="http://www.instagram.com/cryptofully" target="_blank">
                  <img
                    src="assets/svgs/instagram.svg"
                    alt="instagram cryptofully"
                    loading="lazy"
                  />
                </a>
                <a href="https://t.me/cryptofully" target="_blank">
                  <img
                    src="assets/svgs/telegram.svg"
                    alt="telegram Cryptofully"
                    loading="lazy"
                  />
                </a>
                <a
                  href="https://www.facebook.com/Cryptofully"
                  target="_blank"
                  class="d-none"
                >
                  <img
                    src="assets/svgs/facebook.svg"
                    alt="facebook Cryptofully"
                    loading="lazy"
                  />
                </a>
                <a href="http://twitter.com/cryptofully" target="_blank">
                  <img
                    src="assets/svgs/twitter.svg"
                    alt="twitter cryptofully"
                    loading="lazy"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
