<header class="navbar navbar-sticky navbar-expand-lg navbar-light bg-light">
  <div class="container position-relative">
    <a
      class="navbar-brand"
      href=""
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
    >
      <img
        class="navbar-brand-regular"
        src="assets/img/logo.png"
        alt="brand-logo"
      />
      <img
        class="navbar-brand-sticky"
        src="assets/img/logo.png"
        alt="sticky brand-logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto" id="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link scroll d-none"
            href="#"
            (click)="joinInnerCircle(content)"
            >Join Our Inner Circle
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll" href="#faq">FAQs</a>
        </li>

        <li class="nav-item d-none">
          <a class="nav-link scroll" href="#help">Help</a>
        </li>
      </ul>
    </div>
  </div>
</header>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Join our inner circle</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div
      class="emailoctopus-form-wrapper emailoctopus-form-default null"
      style="
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        color: rgb(26, 26, 26);
      "
    >
      <p class="emailoctopus-success-message"></p>
      <p class="emailoctopus-error-message"></p>
      <form
        action="https://emailoctopus.com/lists/bd13cbc7-dc2e-11ea-a3d0-06b4694bee2a/members/embedded/1.3s/add"
        method="post"
        data-message-success="Thanks for subscribing!"
        data-message-missing-email-address="Your email address is required."
        data-message-invalid-email-address="Your email address looks incorrect, please try again."
        data-message-bot-submission-error="This doesn't look like a human submission."
        data-message-consent-required="Please check the checkbox to indicate your consent."
        data-message-invalid-parameters-error="This form has missing or invalid fields."
        data-message-unknown-error="Sorry, an unknown error has occurred. Please try again later."
        class="emailoctopus-form"
        data-myki-form-1="HTQAJ"
        data-myki-checked-cc="2"
        data-sitekey="6LdYsmsUAAAAAPXVTt-ovRsPIJ_IVhvYBBhGvRV6"
      >
        <div class="emailoctopus-form-row">
          <label for="field_0"> Email address </label>
          <input
            id="field_0"
            name="field_0"
            type="email"
            placeholder
            required="required"
          />
        </div>
        <div aria-hidden="true" class="emailoctopus-form-row-hp">
          <input
            type="text"
            name="hpc4b27b6e-eb38-11e9-be00-06b4694bee2a"
            tabindex="-1"
            autocomplete="nope"
          />
        </div>
        <div class="emailoctopus-form-row-subscribe">
          <input type="hidden" name="successRedirectUrl" />
          <button
            type="submit"
            style="
              background-color: rgb(224, 224, 224);
              color: rgb(0, 0, 0);
              font-family: inherit;
            "
          >
            Subscribe
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
