<header class="navbar navbar-sticky navbar-expand-lg navbar-light">
  <div class="container position-relative py-3">
    <a
      class="navbar-brand"
      href=""
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
    >
      <img
        class="navbar-brand-regular"
        src="assets/img/logo.png"
        loading="lazy"
        alt="brand-logo"
        *ngIf="!mode"
      />
      <img
        class="navbar-brand-regular"
        src="assets/svgs/navbar-logo-dark.svg"
        loading="lazy"
        alt="brand-logo"
        *ngIf="mode"
      />
      <img
        class="navbar-brand-sticky"
        src="assets/img/logo.png"
        alt="sticky brand-logo"
        loading="lazy"
        *ngIf="!mode"
      />
      <img
        class="navbar-brand-sticky"
        src="assets/svgs/navbar-logo-dark.svg"
        loading="lazy"
        alt="brand-logo"
        *ngIf="mode"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto" id="navbar-nav">
        <li class="nav-item">
          <app-innercircle></app-innercircle>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll" href="#faq">FAQs</a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            href="http://medium.com/cryptofully"
            target="_blank"
            >Blog</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="mode-wrapper">
    <button class="btn btn-sm btn-link" (click)="onEnable()">
      <i class="far fa-moon" *ngIf="mode"></i>
      <i class="fas fa-moon" *ngIf="!mode"></i>
    </button>
  </div>
</header>
