<div class="main" [ngClass]="mode">
  <app-header-custom></app-header-custom>
  <div id="statusPage">
    <div class="main">
      <section
        class="status section features-area style-two overflow-hidden rounded p-4 p-sm-5 shadow-lg wow fadeIn"
        data-wow-duration="3s"
      >
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="kyc_wrapper">
                <h2 class="card-title mb-5">Reset Password</h2>
                <form
                  id="contact-form"
                  [formGroup]="cryptoForm"
                  (ngSubmit)="onSubmit()"
                >
                  <div class="row">
                    <div class="col-12">
                      <app-input
                        label="New Password"
                        name="New Password"
                        [control]="cryptoForm.get('newPassword')"
                        placeholder="eg. Iam@L@gos"
                        type="password"
                        required="true"
                      ></app-input>
                      <app-input
                        label="Confirm Password"
                        name="Confirm Password"
                        [control]="cryptoForm.get('confirmPassword')"
                        placeholder="eg. Iam@L@gos"
                        type="password"
                        required="true"
                      ></app-input>
                    </div>
                  </div>

                  <div class="col-12">
                    <button
                      class="btn btn-bordered w-100 mt-3 mt-sm-4 submit btn-transaction"
                      type="submit"
                      [disabled]="cryptoForm.invalid"
                    >
                      <app-loader
                        [isLoading]="formloader"
                        *ngIf="!mode"
                      ></app-loader>
                      <app-loader-dark
                        [isLoading]="formloader"
                        *ngIf="mode"
                      ></app-loader-dark>
                      <ng-container *ngIf="!formloader"> Submit </ng-container>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <app-scrollup></app-scrollup>
  <app-footer-three></app-footer-three>
</div>
