/* .collapse {
    animation-name: example;
    animation-duration: 2s;
    opacity: 1;
} */
@keyframes example {
    from {
      background-color: #fff;
      opacity: 0.1;
    }
  
    to {
      background-color:#171F51;
      opacity: 1;
      color:#fff;
    }
  }
.card-colored {
    animation-name: example;
    animation-duration: 3;
    background-color:#171F51;
    color:#fff;
}
.card-colored .btn { 
 color:#fff;
}
.card-header .btn:active::after {
    transform: rotate(180deg);
}
.card-header .btn.collapsed::after {
    content: '\002B' !important;
    transform: rotate(180deg);
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    top: unset !important;
    font-size: 1.5rem;
}
.card-header .btn::after {
    content: '\00D7' !important;
    transform: rotate(0deg);
    top: 0px !important;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}