<div class="height-emulator d-none d-lg-block"></div>
<footer class="footer-area footer-fixed">
<!--     <a href="#" class="chat">
        <img src="assets/svgs/chat.svg" alt="chat" class="img-fluid">
    </a> -->
    <!-- Footer Top -->
    <hr class="top d-lg-none">
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-12 col-sm-6 col-lg-3">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <div class="social-icons d-flex d-lg-none">
                            <a href="#" target="_blank">
                                <img src="assets/svgs/youtube.svg" alt="youtube" >
                             </a>
                             <a href="http://www.instagram.com/cryptofully" target="_blank">
                                <img src="assets/svgs/instagram.svg" alt="instagram cryptofully" >
                             </a>
                             <a href="https://www.facebook.com/Cryptofully" target="_blank">
                                <img src="assets/svgs/facebook.svg" alt="facebook Cryptofully" >
                             </a>
                             <a href="http://twitter.com/cryptofully" target="_blank">
                                <img src="assets/svgs/twitter.svg" alt="twitter cryptofully" >
                             </a>
                        </div>
                        <!-- Logo -->
                        <a class="navbar-brand top d-lg-block d-sm-none" href="#">
                            <img class="logo" src="assets/img/logo-white-footer.png" alt="">
                        </a>                       
                    </div>
                </div>
                <div class="col-12 col-md-4 col-sm-6 col-lg-3">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Footer Title -->
                        <h3 class="footer-title mb-2">Quick Links</h3>
                        <ul>
                            <li class="py-2"><a href="#">Sign Up</a></li>
                            <li class="py-2"><a href="#">About Us</a></li>
                            <li class="py-2"><a href="#">Bitcoin Price</a></li>
                            <li class="py-2"><a href="#">Our Charges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-sm-6 col-lg-3">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Footer Title -->
                        <h3 class="footer-title mb-2">Others</h3>
                        <ul>
                            <li class="py-2"><a href="#">User FAQs</a></li>
                            <li class="py-2"><a href="#">Contact Us</a></li>
                            <li class="py-2"><a href="#">Legal</a></li>
                            <li class="py-2"><a href="#">Privacy Policy</a></li>
                            <li class="py-2"><a href="#">Terms &amp; Conditions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-sm-6 col-lg-3">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Footer Title -->
                        <h3 class="footer-title mb-2">Products</h3>
                        <ul>
                            <li class="py-2"><a href="#">Cryptofully Bitcoin Wallet</a></li>
                            <li class="py-2"><a href="#">Cryptofully Bills Payment</a></li>
                            <li class="py-2"><a href="#">Cryptofully Airtime Top-up</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="bottom">
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Copyright Area -->
                    <div class="copyright-area d-flex flex-wrap justify-content-center justify-content-sm-between text-center pb-4 pt-0">
                        <a class="navbar-brand bottom d-md-none d-sm-none" href="#">
                            <img class="logo" src="assets/img/logo-white-footer.png" alt="">
                        </a>    
                        <!-- Copyright Left -->
                        <div class="copyright-left">&copy; Copyrights {{ ourDate.getFullYear() }}  <span>
                            Cryptofully
                        </span> All rights reserved.</div>
                        <!-- Copyright Right -->
                        <div class="copyright-right">
                            <div class="social-icons d-flex">
                                <a href="#" target="_blank">
                                    <img src="assets/svgs/youtube.svg" alt="youtube" >
                                 </a>
                                 <a href="http://www.instagram.com/cryptofully" target="_blank">
                                    <img src="assets/svgs/instagram.svg" alt="instagram cryptofully" >
                                 </a>
                                 <a href="https://www.facebook.com/Cryptofully" target="_blank">
                                    <img src="assets/svgs/facebook.svg" alt="facebook Cryptofully" >
                                 </a>
                                 <a href="http://twitter.com/cryptofully" target="_blank">
                                    <img src="assets/svgs/twitter.svg" alt="twitter cryptofully" >
                                 </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>