.footer-fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	background: #171f51;
	color: #fff;
	padding-top: 5rem;
}
.footer-fixed .container-fluid {
	padding-right: 72px;
	padding-left: 72px;
}

.footer-title {
	position: absolute;
	font-family: Nordique Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 20px;
	color: #ffffff;
	/* width: 100%; */
	top: -3rem;
	border-bottom: 2px solid;
	line-height: 2rem;
}

.footer-fixed li a {
	color: #ffffff;
}

.footer-fixed hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgb(255 255 255 / 1);
}

.footer-fixed .navbar-brand {
	position: absolute;
	top: -2.5rem;
}

.footer-fixed .copyright-left {
	font-size: 10.41px;
}
.footer-fixed .copyright-left span {
	color: #f5b400;
}

.footer-area .social-icons > a {
	width: 40px;
	height: auto;
	font-size: 18px;
}
