<section id="home" class="section welcome-area bg-inherit h-100vh overflow-hidden">
    <div class="shapes-container">
        <div class="bg-shape"></div>
    </div>
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <!-- Welcome Intro Start -->
            <div class="col-12 col-md-7">
                <div class="welcome-intro">
                    <h1>Creative way to Showcase your App</h1>
                    <p class="my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus commodi, voluptate quaerat iure quidem expedita eos a blanditiis sint modi est error veniam facere eum at doloribus amet, nobis ut.</p>
                    <a href="#" class="btn">Get Started</a>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <!-- Welcome Thumb -->
                <div class="welcome-thumb" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000">
                        <div class="contact-box bg-white text-center rounded p-4 p-sm-5 mt-5 mt-lg-0 shadow-lg">
                                <!-- Contact Form -->
                                <form id="contact-form">
                                    <div class="contact-top">
                                        <h3 class="contact-title">Currency Converter</h3>
                                        <h5 class="text-secondary fw-3 py-3">Fill any field so we can give you the equivalent currency.</h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <input type="number" class="form-control" name="name" placeholder="currency in dollars" required="required">
                                            </div>
                                            <div class="form-group">
                                                <input type="number" class="form-control" name="email" placeholder="currency in bitcoin" required="required">
                                            </div>
                                            <div class="form-group">
                                                <input type="number" class="form-control" name="phone" placeholder="currency in naira" required="required">
                                            </div>
                                        </div>
                                        <!-- <div class="col-12">
                                            <button class="btn btn-bordered w-100 mt-3 mt-sm-4" type="submit">Send Message</button>
                                            <div class="contact-bottom">
                                                <span class="d-inline-block mt-3">By signing up, you accept our <a href="#">Terms</a> &amp; <a href="#">Privacy Policy</a></span>
                                            </div>
                                        </div> -->
                                    </div>
                                </form>
                                <p class="form-message"></p>
                            </div>
                </div>
            </div>
        </div>
    </div>
</section>