.form-group {
  margin-bottom: 0;
  margin-right: 0rem;
}

.form-control {
  height: auto;
}

form.emailoctopus-form {
  display: flex;
  justify-content: center;

  align-items: center;
}

.emailoctopus-form-default .emailoctopus-form-row-subscribe {
  margin-top: 0;
  margin-right: 20px;
}

.emailoctopus-form-default .emailoctopus-form-row input {
  width: 200px;
  max-width: 100%;
  padding: 10px 12px !important;
  border: 1px solid #ccc;
  font-family: "Nordique Pro" !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 14px !important;
  line-height: 18px !important;
  color: #495057 !important;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.emailoctopus-form-default .emailoctopus-form-row-subscribe button {
  font-family: "Nordique Pro" !important;
  padding: 12.8px 20px;
  font-weight: 700;
  font-family: inherit;
  color: #fff;
  display: block;
  margin: 0 0 1em;
  border: none;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.emailoctopus-form-default .emailoctopus-error-message {
  color: #e74c3c;
  font-size: 12px;
  line-height: 12px;
}

.btn-innercircle {
  background: #171f51 !important;
  border: none !important;
  margin-left: 16px;
}
.btn-innercircle:hover {
  box-shadow: none !important;
  color: #f5b400 !important;
}
