<div
  class="emailoctopus-form-wrapper emailoctopus-form-default null"
  style="
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: rgb(26, 26, 26);
  "
>
  <p class="emailoctopus-success-message"></p>
  <p class="emailoctopus-error-message"></p>
  <form
    action="https://emailoctopus.com/lists/bd13cbc7-dc2e-11ea-a3d0-06b4694bee2a/members/embedded/1.3/add"
    method="post"
    data-message-success="Thanks for subscribing!"
    data-message-missing-email-address="Your email address is required."
    data-message-invalid-email-address="Your email address looks incorrect, please try again."
    data-message-bot-submission-error="This doesn't look like a human submission."
    data-message-consent-required="Please check the checkbox to indicate your consent."
    data-message-invalid-parameters-error="This form has missing or invalid fields."
    data-message-unknown-error="Sorry, an unknown error has occurred. Please try again later."
    class="emailoctopus-form"
    data-myki-checked-cc="2"
    data-myki-form-1="NPYCI"
  >
    <div class="emailoctopus-form-row form-group">
      <input
        id="field_0"
        name="field_0"
        type="email"
        placeholder="your email address"
        required="required"
        class="form-control"
      />
    </div>
    <div aria-hidden="true" class="emailoctopus-form-row-hp">
      <input
        type="text"
        name="hpc4b27b6e-eb38-11e9-be00-06b4694bee2a"
        tabindex="-1"
        autocomplete="nope"
      />
      <div
        class="hidden myki-preloader-input"
        data-element="user"
        data-left="132"
        data-form-preloader-for="NPYCI"
        style="width: 21px; height: 21px; display: block; top: 0px; left: 132px"
      >
        <img
          class="myki-preloader-spinner"
          src="chrome-extension://bmikpgodpkclnkgmnpphehdgcimmided/images/ring.svg"
          style="
            width: 21px !important;
            height: 21px !important;
            max-height: unset !important;
          "
        />
        <img
          src="chrome-extension://bmikpgodpkclnkgmnpphehdgcimmided/images/logo/icon_180.svg"
          style="
            width: 12.6px !important;
            right: 4.2px !important;
            top: 5.2px !important;
            height: unset !important;
            max-height: unset !important;
          "
        />
      </div>
    </div>
    <div class="emailoctopus-form-row-subscribe">
      <input type="hidden" name="successRedirectUrl" />
      <button class="btn btn-clear m-0 submit btn-innercircle" type="submit">
        Join Inner Circle
      </button>
    </div>
  </form>
</div>
