<section id="how-it-works" class="section work-area bg-overlay overflow-hidden ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <!-- Work Content -->
                <div class="work-content text-center">
                    <h2 class="text-white">How Cryptofully works?</h2>
                    <p class="text-white my-3 mt-sm-4 mb-sm-5">Cryptofully is simple and easy to use. <br> Here's how it works.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <!-- Single Work -->
                <div class="single-work text-center p-3">
                    <!-- Work Icon -->
                    <div class="work-icon">
                        <img class="avatar-md" src="assets/img/work_thumb_1.png" alt="">
                    </div>
                    <h3 class="text-white py-3">Install the App</h3>
                    <p class="text-white"> Download The App from Google Play or the App Store </p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <!-- Single Work -->
                <div class="single-work text-center p-3">
                    <!-- Work Icon -->
                    <div class="work-icon">
                        <img class="avatar-md" src="assets/img/work_thumb_2.png" alt="">
                    </div>
                    <h3 class="text-white py-3">Setup your profile</h3>
                    <p class="text-white">Create your free account and complete one-time identity verification</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <!-- Single Work -->
                <div class="single-work text-center p-3">
                    <!-- Work Icon -->
                    <div class="work-icon">
                        <img class="avatar-md" src="assets/img/work_thumb_3.png" alt="">
                    </div>
                    <h3 class="text-white py-3">Start Transaction</h3>
                    <p class="text-white">Start A Transaction Send or Request Money instantly powered by Bitcoin</p>
                </div>
            </div>
        </div>
    </div>
</section>