<section id="home" class="section welcome-area bg-overlay d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <!-- Welcome Intro Start -->
            <div class="col-12 col-lg-6 text-md-center">
                <div class="welcome-intro">
                    <h1 class="section-title">Send money easy and fast to Nigeria </h1>
                    <p class="section-text my-4">Cryptofully is a digital payment service that allows users to send and
                        request money using Bitcoin (cryptocurrency) and cash out directly into their bank account
                        instantly.</p>
                </div>
            </div>
            <div class="col-12 offset-lg-1 col-md-8 col-lg-5">
                <!-- Contact Box -->
                <div class="contact-box bg-white rounded p-4 p-sm-5 mt-5 mt-lg-0 shadow-lg">
                    <h2 class="card-title">Send money in less than 2 minutes</h2>
                    <!-- Contact Form -->
                    <form id="contact-form">
                        <!-- <div class="contact-top">
                                <h3 class="contact-title">Currency Converter</h3>
                                <h5 class="text-secondary fw-3 py-3">Fill any field so we can give you the equivalent currency.</h5>
                            </div> -->
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="">Account Number</label>
                                    <input type="text" (blur)="addCommasCoinValue()" (focus)="removeCommasCoinValue()" [(ngModel)]="coinValue" [ngModelOptions]="{standalone: true}"  (change)="convertCoin()"  (keyup)="convertCoin()" class="form-control" name="bitcoin"
                                    placeholder="0.00"  required="required">
                                </div>
                                <div class="form-group">
                                    <label for="">Bank</label>
                                   <select name="" id="" class="form-control">
                                        <option value="">Select Bank</option>
                                        <option value="">GTBank</option>
                                        <option value="">Zenith</option>
                                   </select>
                                </div>

                                <div class="form-group">
                                    <label for="">Email Address</label>
                                    <input type="text"  (blur)="addCommasOtherValue()" (focus)="removeCommasOtherValue()" (change)="convertOther()" [(ngModel)]="otherValue" [ngModelOptions]="{standalone: true}"  (keyup)="convertOther()" class="form-control" name="Naira"
                                        placeholder="0.00" required="required">
                                </div>

                                <div class="form-group">
                                    <label for="">Amount</label>
                                    <input type="text" (blur)="addCommasBaseValue()" (focus)="removeCommasBaseValue()" (change)="convertBase()" [(ngModel)]="baseValue" [ngModelOptions]="{standalone: true}"  (keyup)="convertBase()" class="form-control" name="bitcoin"
                                    placeholder="0.00"  required="required">
                                </div>
                            </div>
                        </div>
                        <p class="form-message">
                            1BTC = <span>5,434,355.52 </span>NGN
                        </p>
                        <div class="col-12">
                            <button class="btn btn-bordered w-100 mt-3 mt-sm-4" type="submit">Send Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>