<section class="section discover-area bg-gray overflow-hidden ptb_100">
    <div class="container">
            <div class="row justify-content-center">
                    <div class="col-12 col-lg-6">
                        <!-- Work Content -->
                        <div class="work-content text-center">
                            <h2 class="">Steps to send money through Cryptofully?</h2>
                            <p class="my-3 mt-sm-4 mb-sm-5">Cryptofully is simple and easy to use. <br> Here's the process.</p>
                        </div>
                    </div>
                </div>
        <div class="row justify-content-center ">
            <div class="col-12 col-md-8  pt-5 pb-5 col-lg-6 order-2 order-lg-1">
                <!-- Discover Thumb -->
                <div class="num-tag justify-content-start">1</div>
                <div class="service-thumb  align-items-center  discover-thumb mx-auto text-center pt-5 pt-lg-0">
                    <img style="max-height:400px" src="assets/img/step-mock.png" alt="">
                    <h4 class="pt-5">Create your free account</h4>
                    <p class="pt-2 align-items-start steps-text">
                        Create your online money transfer account and verify your identity to send money from Canada to family and friends around the world.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-8 pt-5  step-top pb-5 col-lg-6 order-2 order-lg-1">
                <!-- Discover Thumb -->
                <div class="num-tag justify-content-start">2</div>
                <div class="service-thumb  flex-direction-column align-items-center  discover-thumb mx-auto text-center pt-5 pt-lg-0">
                    <img style="max-height:400px" src="assets/img/step-mock.png" alt="">
                    <h4 class="pt-5"> Verify your identity</h4>
                    <p class="pt-2 align-items-start steps-text">
                        Create your online money transfer account and verify your identity to send money from Canada to family and friends around the world.
                    </p>
                </div>
            </div>
        
            <div class="col-12 col-md-8 pt-5   pb-5 col-lg-6 order-2 order-lg-1">
                <!-- Discover Thumb -->
                <div class="num-tag justify-content-start">3</div>

                <div class="service-thumb align-items-center discover-thumb mx-auto text-center pt-5 pt-lg-0">
                    <img style="max-height:400px" src="assets/img/step-mock.png" alt="">
                   
                    <h4 class="pt-5">  Enter recipient account details </h4>
                    <p class="pt-2 align-items-start steps-text">
                        Create your online money transfer account and verify your identity to send money from Canada to family and friends around the world.
                    </p>
                </div>
            </div>
        
            <div class="col-12 col-md-8 pt-5 step-top pb-5 col-lg-6 order-2 order-lg-1">
                <!-- Discover Thumb -->
                <div class="num-tag justify-content-start">4</div>

                <div class="service-thumb align-items-center discover-thumb mx-auto text-center pt-5 pt-lg-0">
                    <img style="max-height:400px" src="assets/img/step-mock.png" alt="">
                    <h4 class="pt-5"> Credit wallet address </h4>
                    <p class="pt-2 align-items-start steps-text">
                        Create your online money transfer account and verify your identity to send money from Canada to family and friends around the world.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-8 pt-5 pb-5 col-lg-6 order-2 order-lg-1">
                <!-- Discover Thumb -->
                <div class="num-tag justify-content-start">5</div>

                <div class="service-thumb align-items-center discover-thumb mx-auto text-center pt-5 pt-lg-0">
                    <img style="max-height:400px" src="assets/img/step-mock.png" alt="">
                    
                    <h4 class="pt-5">  Transaction successful!</h4>
                    <p class="pt-2 align-items-start steps-text">
                        Create your online money transfer account and verify your identity to send money from Canada to family and friends around the world.
                    </p>
                </div>
            </div>
        
        </div>
    </div>
</section>