.num-tag {
    /* position: absolute; */
    color: #171F51;
    font-size: 12rem;
    font-weight: 800;
    left: 0;
    right: 0;
    top: 0;
    margin-left: 100px;
    display: flex;
}
.service-thumb  {
    display: flex;
    flex-direction: column;
}
.steps-text {

}
.step-top {
    padding-top:300px !important;
}
@media (max-width: 991px) {
    .step-top {
        padding-top:3rem !important;
    }
}
/* .num-tag::after {
    width: 100px;
    height: 50px;
    background: gold;
    position: absolute;
    content: '1';
} */