<app-header-custom></app-header-custom>
<div id="summaryPage">
  <div class="main">
      
      <section class="summary section features-area style-two overflow-hidden">
        <div class="container">
            
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 res-margin left">
                    <div class="wrapper">
                        <a href="/" class="text-primary back">
                            <i class="fas fa-arrow-left"></i>
                            Back to Home Page
                        </a>

                        <h2 class="title text-secondary">Transaction Summary</h2>
                      
                        <div class="trans-detail">
                            <p>Amount to send <span>USD 200.00</span></p>
                            <p>BTC equivalent  <span>0.00845BTC</span></p>
                            <p>James will receive <span>NGN 20,000.00</span></p>
                            <p>Price will refresh in <span class="text-secondary">0.50</span></p>
                        </div>

                        <div class="rate">
                            1 BTC =  <span class="text-secondary">5,434,355.52</span> NGN
                        </div>

                        <div class="disclaimer">
                            <h2 class="subtitle">Disclainer</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto voluptatibus adipisci cum vitae fugit, possimus quam ipsum voluptatum, exercitationem non dignissimos necessitatibus minus alias dolorum beatae quis enim commodi dicta.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 res-margin right">
                    <!-- Image Box -->
                    <div class="p-2 text-center">
                        <!-- Featured Image -->
                        <div class="qrcode mb-3">
                            <!-- <img class="img-fluid" src="assets/img/qrcode.png" alt=""> -->
                            <ngx-qrcode [elementType]="elementType" [value]="value" cssClass="img-fluid" errorCorrectionLevel="L"></ngx-qrcode>
                        </div>
                        <!-- Icon Text -->
                        <input id="token-text" class="token-text" readonly value="Bchet122878734384499HYT083" #tokenText>
                          
                        <p class="mt-3 note text-center">Send BTC to this Cryptofully wallet address and James will automatically receive naira after confirmation . Addresses are reusable.</p>

                        <button class="btn btn-bordered w-50 mt-3 mt-sm-4 submit" type="submit" (click)="copyToken(tokenText)">Copy Wallet Address</button>

                        <a href="#" class="d-block text-secondary howto">How to send Bitcoin to a wallet </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
      
  </div>
</div>
<app-scrollup></app-scrollup>
<app-footer-one></app-footer-one>