<div class="homepage">
  <div class="main">
    <app-header-custom></app-header-custom>
    
    <section
      class="section banner  wow fadeIn d-flex"
      data-wow-duration="3s"
    >
      <div class="left-banner">
        <h2 class="title">Cryptofully For Business</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh tellus, potenti lorem in sed. Et cum malesuada et eu interdum porttitor dis augue. </p>

        <a href="" class="btn btn-secondary">Contact Us</a>
      </div>
      <div class="right-banner">
        <div class="img-wrapper">
          <img src="assets/svgs/MacBook.svg" alt="" srcset="assets/svgs/MacBook.svg" class="img-fluid">
        </div>
      </div>
    </section>



    <app-scrollup></app-scrollup>
    <app-footer-three></app-footer-three>
  </div>
</div>
