<div id="verificationPage">
  <header class="top">
    <a
      class="navbar-brand"
      href=""
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
    >
      <img
        class="navbar-brand-regular"
        src="assets/img/logo.png"
        alt="brand-logo"
      />
    </a>
  </header>

  <section class="main text-center">
    <app-page-loader *ngIf="formloader"></app-page-loader>
    <h2 class="title" *ngIf="verification.status">Activation Successful</h2>
    <h2 class="title" *ngIf="!verification.status">Activation Failed</h2>
    <p>{{ verification.message }}</p>

    <button
      class="btn btn-bordered w-30 mt-3 mt-sm-4 submit d-none"
      type="button"
      (click)="onlogin()"
    >
      Login
    </button>
  </section>

  <p class="copyright">
    &copy; Copyrights {{ ourDate.getFullYear() }} <span> Cryptofully</span> All
    rights reserved.
  </p>
</div>
