<section id="why-cryptofully" class="section discover-area overflow-hidden ptb_50 text-lg-left text-md-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-7">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>Why Use Cryptofully?</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-12 col-lg-6 order-1 order-lg-1">
                <!-- Discover Thumb -->
                <div class="service-thumb discover-thumb mx-auto">
                    <img src="assets/svgs/user_money_transfer.svg" alt="cryptofully users sending bitcoin">
                </div>
            </div>
            <div class="col-12 col-lg-4 order-1 order-lg-2">
                <!-- Discover Text -->
                <div class="discover-text pt-4 pt-lg-0">
                    
                    <!-- Check List -->
                    <ul class="check-list">
                        <li class="py-1">
                            <!-- List Box -->
                            <div class="list-box">
                                <span>Real time exchange rates</span>
                            </div>
                        </li>
                        <li class="py-1">
                            <!-- List Box -->
                            <div class="list-box">
                                <span>Zero transaction fees</span>
                            </div>
                        </li>
                        <li class="py-1">
                            <!-- List Box -->
                            <div class="list-box">
                                <span>24/7 Support</span>
                            </div>
                        </li>
                        <li class="py-1">
                            <!-- List Box -->
                            <div class="list-box">
                                <span>Send and receive crypto payments from anywhere in the world to any nigerian bank account.
                                </span>
                            </div>
                        </li>
                        <li class="py-1">
                            <!-- List Box -->
                            <div class="list-box">
                                <span>Instant cash out: Get your money for your bitcoins in your bank account within minutes.</span>
                            </div>
                        </li>
                        <li class="py-1">
                            <!-- List Box -->
                            <div class="list-box">
                                <span>Partnership with NDIC Insured Bank: $100 Million insurance on Crypto</span>
                            </div>
                        </li>
                       
                    </ul>
                    <button class="btn btn-bordered w-50 mt-3 mt-sm-4" type="submit">Send Now</button>
                </div>
            </div>
        </div>
    </div>
</section>