.service-icon span {
	background-color: unset;
	border: unset;
	-webkit-box-shadow: unset;
	box-shadow: unset;
}

section#why-cryptofully {
	background: #f8f8f8;
}

.section-heading h2 {
	font-family: "Nordique Pro";
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 31px;
}

.section-heading h3 {
	font-family: "Avenir Next";
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 130%;
	padding: 0 45px;
}

.section-heading h2::after {
	display: none;
}

#why-cryptofully h4 {
	font-family: "Nordique Pro";
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;

	color: #171f51;
}
#why-cryptofully p {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 130%;
	/* or 23px */

	/* Light Gray */

	color: #4f4f4f;
}
#why-cryptofully .btn {
	font-family: "Nordique Pro";
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
}

.discover-text h3{
	font-family: "Nordique Pro Bold";
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 22px;
margin-bottom: 20px;
}

.dot {
	position: relative;
	top: 3px;
	background: #171F51;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	margin-right: 10px;
	float: left;
}

.list-box .text{
	margin-left: 20px;
}

@media (max-width: 575.98px) {
	#why-cryptofully {
		text-align: center;
	}
	#why-cryptofully ul.check-list {
		margin: 2rem 0rem;
	}
	#why-cryptofully .list-box {
		text-align: left;
	}
}
