@import "../../../../variables.scss";

::ng-deep .dark {
  .main {
    background: $bg-color-dark;
  }

  .innerPage .banner {
    background: $bg-color-dark-2;
  }

  .breadcrumb,
  .breadcrumb span {
    color: #fff;
  }
  .card {
    background: $bg-color-dark-2;
    color: #fff;
  }
  p,
  li {
    color: #fff;
  }
}
