/* You can add global styles to this file, and also import other style files */
/* Import ng select for  country selector  */
@import "~@ng-select/ng-select/themes/default.theme.css";

@font-face {
  font-family: "Nordique Pro";
  src: url("assets/webfonts/NordiquePro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Avenir Next";
  src: url("assets/webfonts/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url("assets/webfonts/AvenirNextLTPro-Bold.otf") format("opentype");
}

@import "variables.scss";

html,
body {
  height: 100%;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
span,
div {
  /* font-family: "Nordique Pro", Arial, sans-serif; */
  font-family: "Nordique Pro";
  letter-spacing: 0.7px;
}

p,
span,
a,
small,
div {
  /* font-family: "Nordique Pro", Arial, sans-serif; */
  font-family: "Avenir Next";
  letter-spacing: 0.7px;
}

a:hover,
a:focus,
.btn:focus {
  color: #f5b400 !important;
}

label {
  position: relative;
  display: flex;
  align-items: center;
}
label[required]::before {
  content: "";
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgba(250, 16, 39, 1);
  margin-right: 5px;
}

label[required]::after {
  position: absolute;
  top: 8.5px;
  left: 4.5px;
  width: 4px;
  height: 4px;
  background-color: rgba(220, 53, 69, 0.5);
}

.btn:hover {
  color: #171f51 !important;
  background: #ffffff !important;
  border: 1px solid #171f51;
}
.height-emulator {
  float: left;
  height: 25rem;
}
.text-secondary {
  color: #f5b400 !important;
}

.section-heading {
  margin-bottom: 55px;
}

.section-heading h2 {
  font-family: "Nordique Pro Bold";
  color: #171f51;
}

label {
  position: relative;
  display: flex;
  align-items: center;
}

label.required::before {
  content: "";
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgba(250, 16, 39, 1);
  margin-right: 5px;
}

label.required::after {
  position: absolute;
  top: 8.5px;
  left: 4.5px;
  width: 4px;
  height: 4px;
  background-color: rgba(220, 53, 69, 0.5);
}

/* Inner Pages */

.innerPage .banner {
  height: 360px;
  background: #f8f8f8;
  padding-top: 7rem;
}

.innerPage .wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.innerPage .title {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 61px;
  color: #f5b400;
}

.innerPage .subtitle {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 31px;
  margin-top: 52px;
  margin-bottom: 10px;
  color: #f5b400;
}

.innerPage .img_wrapper {
  position: relative;
  bottom: 0;
  right: -9.5rem;
}

.innerPage .content {
  padding-top: 37px;
  padding-bottom: 105px;
  padding-right: 2rem;
}

.innerPage ul {
  padding-left: 2rem;
}
.innerPage ul li {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  list-style-type: initial;
  margin-bottom: 20px;
}

.innerPage p {
  margin-bottom: 1rem;
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}

.withLoader {
  position: relative;
}
.primary-text {
  color: #f5b400;
}

// Dark Mode
.dark {
  &.main {
    background: $bg-color-dark;
  }
}
::ng-deep .dark {
  .main {
    background: $bg-color-dark;
  }

  .innerPage .banner {
    background: $bg-color-dark-2;
  }

  .breadcrumb,
  .breadcrumb span {
    color: #fff;
  }
  .card {
    background: $bg-color-dark-2;
    color: #fff;
  }
  p,
  li {
    color: #fff;
  }
  .submit {
    background: $primary-color;
    color: $text-color;
  }

  a {
    color: #fff !important;
  }
}
