/* You can add global styles to this file, and also import other style files */
/* Import ng select for  country selector  */
@import "~@ng-select/ng-select/themes/default.theme.css";

@font-face {
	font-family: "Nordique Pro";
	src: url("assets/webfonts/NordiquePro-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Avenir Next";
	src: url("assets/webfonts/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
	font-family: "Avenir Next Bold";
	src: url("assets/webfonts/AvenirNextLTPro-Bold.otf") format("opentype");
}

html,
body {
	height: 100%;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
span,
div {
	/* font-family: "Nordique Pro", Arial, sans-serif; */
	font-family: "Nordique Pro";
	letter-spacing: .7px;
}

p,
span,
a,
small,
div {
	/* font-family: "Nordique Pro", Arial, sans-serif; */
	font-family: 'Avenir Next';
	letter-spacing: .7px;
}

a:hover,
a:focus,
.btn:focus {
	color: #f5b400 !important;
}

label {
	position: relative;
	display: flex;
	align-items: center;
}
label[required]::before {
	content: "";
	position: relative;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: rgba(250, 16, 39, 1);
	margin-right: 5px;
}

label[required]::after {
	position: absolute;
	top: 8.5px;
	left: 4.5px;
	width: 4px;
	height: 4px;
	background-color: rgba(220, 53, 69, 0.5);
}

.btn:hover {
	color: #171f51 !important;
	background: #ffffff !important;
	border: 1px solid #171f51;
}
.height-emulator {
	float: left;
	height: 25rem;
}
.text-secondary {
	color: #f5b400 !important;
}

.section-heading {
	margin-bottom: 55px;
}

.section-heading h2 {
	font-family: "Nordique Pro Bold";
	color: #171f51;
}

label {
	position: relative;
	display: flex;
	align-items: center;
}

label.required::before {
	content: "";
	position: relative;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: rgba(250, 16, 39, 1);
	margin-right: 5px;
}

label.required::after {
	position: absolute;
	top: 8.5px;
	left: 4.5px;
	width: 4px;
	height: 4px;
	background-color: rgba(220, 53, 69, 0.5);
}
