.section-heading h2 {
	font-family: "Nordique Pro", Arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 31px;
}

.section-heading h2::after {
	display: none;
}

.btn-outline {
	background-color: #fff;
	border: 2px solid #171f51;
	color: #171f51;
}
