<section id="features" class="section features-area style-two overflow-hidden ptb_100 text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-7">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>Our Frequently Asked Questions</h2>
                </div>
            </div>
        </div>
       
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Image Box -->
                <div class="text-center icon-1 p-5 wow fadeInLeft" data-aos-duration="2s" data-wow-delay="0.4s">
                    <!-- Icon Text -->
                    <div class="icon-text">
                        <h3 class="mb-2">How do i Signup?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa expedita dignissimos.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Image Box -->
                <div class="text-center icon-1 p-5 wow fadeInUp" data-aos-duration="2s" data-wow-delay="0.2s">
                    <!-- Icon Text -->
                    <div class="icon-text">
                        <h3 class="mb-2">How do i Receive Money?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa expedita dignissimos.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Image Box -->
                <div class="text-center icon-1 p-5 wow fadeInRight" data-aos-duration="2s" data-wow-delay="0.4s">
                    <!-- Icon Text -->
                    <div class="icon-text">
                        <h3 class="mb-2">How do i get key?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa expedita dignissimos.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Image Box -->
                <div class="text-center icon-1 p-5 wow fadeInLeft" data-aos-duration="2s" data-wow-delay="0.8s">
                    <!-- Icon Text -->
                    <div class="icon-text">
                        <h3 class="mb-2">How do i fund wallet?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa expedita dignissimos.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Image Box -->
                <div class="text-center icon-1 p-5 wow fadeInUp" data-aos-duration="2s" data-wow-delay="0.4s">
                    <!-- Icon Text -->
                    <div class="icon-text">
                        <h3 class="mb-2">How do i Send Money?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa expedita dignissimos.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Image Box -->
                <div class="text-center icon-1 p-5 wow fadeInRight" data-aos-duration="2s" data-wow-delay="0.8s">
                    <!-- Icon Text -->
                    <div class="icon-text">
                        <h3 class="mb-2">Help Documentation</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa expedita dignissimos.</p>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-outline btn-bordered w-10 mt-3 mt-sm-4" type="submit">Read More</button>
    </div>
</section>