<section id="faq" class="section features-area style-two overflow-hidden ptb_100 text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-7">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>Our Frequently Ask Questions</h2>
                </div>
            </div>
        </div>
       
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Image Box -->
                <div class="text-center icon-1 px-3 pb-5 wow fadeInLeft" data-aos-duration="2s" data-wow-delay="0.4s">
                    <!-- Icon Text -->
                    <div class="icon-text">
                        <h3 class="mb-2">Where can I send money from?</h3>
                        <p>You can send money from anywhere in the world using any app that supports Bitcoin e.g  Cashapp, Nairaex, Coinbase, Revolut etc.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Image Box -->
                <div class="text-center icon-1 px-3 pb-5 wow fadeInUp" data-aos-duration="2s" data-wow-delay="0.2s">
                    <!-- Icon Text -->
                    <div class="icon-text">
                        <h3 class="mb-2">Is there a daily transaction limit?</h3>
                        <p>Yes. For now, you can send up to $1000. This limit is set to comply with CBN anti-money laundering policies. If you would like to increase your daily limit, please send us an email. possible@cryptofully.com·
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Image Box -->
                <div class="text-center icon-1 px-3 pb-5 wow fadeInRight" data-aos-duration="2s" data-wow-delay="0.4s">
                    <!-- Icon Text -->
                    <div class="icon-text">
                        <h3 class="mb-2">How long do transfers take?
                        </h3>
                        <p>Transfers are completed within 3 minutes. This means that the recipient will receive the naira equivalent within 3 minutes after the bitcoin is transferred to the unique wallet address.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Image Box -->
                <div class="text-center icon-1 px-3 pb-5 wow fadeInLeft" data-aos-duration="2s" data-wow-delay="0.8s">
                    <!-- Icon Text -->
                    <div class="icon-text">
                        <h3 class="mb-2">I have more questions, who do I contact?
                        </h3>
                        <p>For support and enquiries, please send an email to possible@cryptofully.com</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Image Box -->
                <div class="text-center icon-1 px-3 pb-5 wow fadeInUp" data-aos-duration="2s" data-wow-delay="0.4s">
                    <!-- Icon Text -->
                    <div class="icon-text">
                        <h3 class="mb-2">How do i Send Money?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa expedita dignissimos.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Image Box -->
                <div class="text-center icon-1 px-3 pb-5 wow fadeInRight" data-aos-duration="2s" data-wow-delay="0.8s">
                    <!-- Icon Text -->
                    <div class="icon-text">
                        <h3 class="mb-2">Help Documentation</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa expedita dignissimos.</p>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-outline btn-bordered w-40 mt-3 mt-sm-4 px-5" type="submit">Read More</button>
    </div>
</section>